@using Organaizer.ViewModels
@model ForgotPasswordModel
<div style="width:100%;margin-left:auto; margin-right:auto;margin-top:50px; margin-bottom:60px" class="col-md-12  ">

    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
        <form method="post">
            


            <div class="d-flex justify-content-center" style="margin-top:100px"><p>Şifrənin Yenilənməsi</p></div>

            <div class="form-outline mb-4">
                <label asp-for="Email">Emailinizi daxil edin</label>
                <input class="form-control" asp-for="Email" placeholder="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

           
            <div asp-validation-summary="ModelOnly"></div>

            

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Təsdiq et</button>

            <!-- Register buttons -->
            
        </form>
    </div>
</div>

